svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis {
    display: none;
}
